<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="AppBody">

<header class="AppHeader">[LOGO]</header>

<nav class="AppNavigation">
    <h2>Categories</h2>
    <ul>
        <li><a href="#">Category A</a></li>
        <li><a href="#">Category B</a></li>
        <li><a href="#">Category C</a></li>
        <li><a href="#">Category D</a></li>
    </ul>
</nav>

<main class="AppMain">
    <section>
        <article class="ProductCard">
            <img class="ProductCard-image"
                 src="https://placeholdit.imgix.net/~text?txtsize=33&w=200&h=200&txt=Image"
                 alt="Product Image">
            <p class="ProductCard-description">Product title</p>
        </article>

        <article class="ProductCard">
            <img class="ProductCard-image"
                 src="https://placeholdit.imgix.net/~text?txtsize=33&w=200&h=200&txt=Image"
                 alt="Product Image">
            <p class="ProductCard-description">Product title</p>
        </article>

        <article class="ProductCard">
            <img class="ProductCard-image"
                 src="https://placeholdit.imgix.net/~text?txtsize=33&w=200&h=200&txt=Image"
                 alt="Product Image">
            <p class="ProductCard-description">Product title</p>
        </article>

        <article class="ProductCard">
            <img class="ProductCard-image"
                 src="https://placeholdit.imgix.net/~text?txtsize=33&w=200&h=200&txt=Image"
                 alt="Product Image">
            <p class="ProductCard-description">Product title</p>
        </article>

        <article class="ProductCard">
            <img class="ProductCard-image"
                 src="https://placeholdit.imgix.net/~text?txtsize=33&w=200&h=200&txt=Image"
                 alt="Product Image">
            <p class="ProductCard-description">Product title</p>
        </article>

        <article class="ProductCard">
            <img class="ProductCard-image"
                 src="https://placeholdit.imgix.net/~text?txtsize=33&w=200&h=200&txt=Image"
                 alt="Product Image">
            <p class="ProductCard-description">Product title</p>
        </article>
    </section>
</main>

</body>
</html>